:root {
    --primary-red: #E63946;
    --bg-color: #F1FAEE;
    --text-dark: #1D3557;
    --accent-blue: #457B9D;
    --card-bg: #FFFFFF;
    
    --clr-mignon: #FF85A2;
    --clr-vaillant: #E63946;
    --clr-mysterieux: #A29BFE;
}